{{- if .Values.ollama.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: ollama
  labels:
    app.kubernetes.io/component: ollama
spec:
  type: {{ .Values.ollama.service.type }}
  ports:
    - port: {{ .Values.ollama.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "ollama.selectorLabels" . | nindent 4 }}
{{- end }}
